{{!--<h1>Log In</h1>--}}
<div class="login-page">
    <div class="form">
    <form id="login-form" method="post" action="/login">
            <br>
            {{#if message}} 
                <div class="alert alert-danger">{{message}}</div>
            {{/if}}
            <input type="text" class="form-control" id="username" name="username" placeholder="User Name">
            <div id="error-username"></div>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <div id="error-password"></div>
            <button id="login-button" type="submit" class="btn btn-default">Log In</button>
    </form>
    </div>
</div>