<div class="single-note"> 
    <h1>Note Detail</h1>
    <h2 class="single-label">Title</h2><br>
    <h4 id="single-title">{{note.title}}</h4><br>
    <h2 class="single-label">Due Date</h2><br>
    <h4 id="single-due">{{note.due}}</h4><br>
    <h2 class="single-label">Summary</h2><br>
    <h4 id="single-summary">{{note.summary}}</h4><br>
    <h2 class="single-label">Description</h2><br>
    <h4 id="single-body">{{note.body}}</h4><br>
</div>