<div class="row">  
    <div class="col-sm-12 col-md-6">
        <form id="new-item-form" method="post" action="basic_ajax_with_jquery.js">
            <label for="new-title">Note Title</label>
                <input id="new-note-title" type="text" name="new-note-title" placeholder="note title"/><br>
            <div id="error-title"></div><br>
            <label for="new-note-summary">Note Summary</label>
                <textarea id="new-note-summary" type="text" name="new-note-summary" placeholder="note summary"/></textarea><br>
            <div id="error-summary"></div><br>
            <label for="new-note-date">Note Date</label>
                <input id="new-note-date" type="text" name="new=note-date" placeholder="yyyy-mm-dd"><br>
            <div id="error-date"></div><br>
            <label for="new-note-body">Note Body</label>
                <textarea id="new-note-body" type="text" name="new-note-body" placeholder="note body"></textarea><br>
            <div id="error-body"></div><br>
            <input id="add-note" type="submit" value="add new note"/>
        </form>
    </div>
</div>