<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group">
        <label for="moderateText">Moderate Text</label>
        <textarea id="moderateText" class="form-control" name="moderateText" placeholder="Moderate Text">{{moderateText}}</textarea>
      </div>
      <div class="form-group">
        <label for="insertedText">Inserted Text</label>
        <input type="text" class="form-control" id="insertedText" name="insertedText" placeholder="Inserted Text" value="{{insertedText}}">
      </div>
      <div class="form-group">
        <label for="insertedTime">Inserted Time</label>
        <input type="number" class="form-control" id="insertedTime" name="insertedTime" placeholder="Inserted Time" value="{{insertedTime}}">
      </div> 
      <div class="form-group">
        <label for="eachInsertNumber">Each Insert Number</label>
        <input type="number" class="form-control" id="eachInsertNumber" name="eachInsertNumber" placeholder="Each Insert NUmber" value="{{eachInsertNumber}}">
      </div>
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
    </form>
  </div>
</div>