<div class="note">
    <h1>Note Detail</h1>
    <h2 class="single-label">Title: </h2><br>
        <h3 id="single-title">{{note.title}}</h3><br>
    <h2 class="single-label">Note Summary:</h2><br>
        <h3 id="single-summary">{{note.summary}}</h3><br>
    <h2 class="single-label">Note Date:</h2><br>
        <h3 id="single-date">{{note.date}}</h3><br>
    <h2 class="single-label">Note Body:</h2><br>
        <h3 id="single-body">{{note.body}}</h3><br>
    <h2>Next Note <a href=/pages/next/:note></h2>
</div>
    