<div class="row">  
    <div class="col-sm-12 col-md-6">           
            <h1 id="heading">Notes List</h1>
            <h2 id="all-notes"><a href="pages/all">All Notes</h2>
            <h2 id="new-note"><a href="pages/new">Create Note</h2>
    </div>
    <div id="new-content">
    </div>
</div>